<h1>{{ ticket.title }}</h1>
<p>{{ ticket.description }}</p>
<p>Status:
    <span style="
        background-color: {% if ticket.status == 'open' %}lightblue{% elif ticket.status == 'in_progress' %}orange{% else %}lightgreen{% endif %};
        padding: 5px;
        border-radius: 5px;
    ">
        {{ ticket.get_status_display }}
    </span>
</p>
<p>Created by: {{ ticket.created_by }}</p>
<p>Assigned to: {{ ticket.assigned_to }}</p>


{% if is_creator or is_tech_support %}
    <h2>Update Status</h2>
    <form method="post">
        {% csrf_token %}
        {{ status_form.as_p }}
        <button type="submit" name="update_status">Update Status</button>
    </form>
{% endif %}


<h2>Comments</h2>
<ul>
    {% for comment in ticket.comments.all %}
        <li>{{ comment.content }} - {{ comment.author }} ({{ comment.created_at }})</li>
    {% endfor %}
</ul>


<h2>Add a Comment</h2>
<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit" name="add_comment">Submit</button>
</form>

<a href="{% url 'ticket_list' %}">Back to Ticket List</a>