{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h1>Your Profile</h1>
    <p class="welcome">Welcome, {{ user.username }}!</p>
<hr>
    {% if user_tickets %}
        <h2>Tickets {{ ticket_type }}</h2>
        <ul class="ticket-list">
            {% for ticket in user_tickets %}
                <li>
                    <a href="{% url 'ticket_detail' ticket.pk %}">{{ ticket.title }}</a>
                    <span class="status
                        {% if ticket.status == 'open' %}open{% elif ticket.status == 'in_progress' %}in-progress{% else %}closed{% endif %}">

                        {{ ticket.get_status_display }}
                    </span>
                </li>
            {% endfor %}
        </ul>

        <div class="pagination">
            <span class="step-links">
                {% if user_tickets.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ user_tickets.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ user_tickets.number }} of {{ user_tickets.paginator.num_pages }}.
                </span>

                {% if user_tickets.has_next %}
                    <a href="?page={{ user_tickets.next_page_number }}">next</a>
                    <a href="?page={{ user_tickets.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No tickets {{ ticket_type }} yet.</p>
    {% endif %}

    {% if not is_tech_support %}
        <a href="{% url 'ticket_create' %}" class="btn btn-primary">Create a New Ticket</a>
    {% endif %}
<hr>
    <a href="{% url 'logout' %}" class="btn btn-outline-primary">Logout</a>
     <a href="{% url 'bar' %}" class="btn btn-outline-primary">Stats</a>
{% endblock %}