{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <div class="container">
        <h1>Your Profile</h1>
        <p>Welcome, {{ user.username }}!</p>

         {% if not_user_tickets %}

         {% endif %}
        {% if user_tickets %}
             <h2>Tickets {{ ticket_type }}</h2>
            <ul class="ticket-list">
                {% for ticket in user_tickets %}
                    <li>
                        <a href="{% url 'ticket_detail' ticket.pk %}">{{ ticket.title }}</a>
                        <span class="status
                            {% if ticket.status == 'open' %}open{% elif ticket.status == 'in_progress' %}in-progress{% else %}closed{% endif %}">
                            {{ ticket.get_status_display }}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No tickets {{ ticket_type }} yet.</p>
        {% endif %}

        {% if not is_tech_support %}
            <a href="{% url 'ticket_create' %}" class="btn btn-primary">Create a New Ticket</a>
        {% endif %}
        <a href="{% url 'logout' %}" class="btn btn-link">Logout</a>




    </div>
</body>
</html>